@model ProductModel

@{
}

<div class="card" style="width:16rem; margin:6px">
        <a asp-page="/Public/PublicDetalj" asp-route-id="@Model.Id">
            <img class="card-img-top" src="~/ImageProduct/@Model.PhotoNamn" style="height:180px">
        </a>

        <div class="card-body">
            <h5 style="font:1em; color:forestgreen">
                @if (Model.Eco == true)
                {
                    @Html.DisplayNameFor(modelItem => Model.Eco)
                }
            </h5>
            <h5 style="color:red">
                @{ var rea = "Rea: -" + Model.Sale + " kr";}
                @if (Model.Sale != 0)
                {
                    @Html.DisplayFor(modelItem => rea)
                }
            </h5>
            <h5 style="color:red">
                @{ var reaP = "Rea: -"+ Model.Sale_Percent +" %";}
                @if (Model.Sale_Percent != 0)
                {
                    @Html.DisplayFor(modelItem => reaP)
                }
            </h5>
            <h4 class="card-title">
                @Html.DisplayFor(modelItem => Model.Name)
            </h4>
            <h6>Kategori: @Html.DisplayFor(modelItem => Model.Category)</h6>
            <h5>Pris: @Html.DisplayFor(modelItem => Model.Price) kr</h5>
            <p>
                @Html.DisplayFor(modelItem => Model.Description)
            </p>
        </div>
        <div class="card-footer" style="text-align:center">
            <div class="col-sm" style="width:150px;  display:inline-flex;">
                <a type="submit" style="margin-left:10px;  margin-right:10px" asp-page="/Public/PublicDetalj" asp-route-id="@Model.Id">
                    <button class="btn btn-secondary">Detalj</button>
                </a>
                <a type="submit" asp-page="Cart" asp-page-handler="buyitem" asp-route-id="@Model.Id">
                    @*<button><i class="fas fa-cart-plus"></i></button>*@
                    <button class="btn btn-secondary">Köp</button>
                </a>
            </div>
        </div>
</div>