@model IndexModel
@using DelliItalia_Razor.Model

@{
    var prod = new ProductModel();
}

<div class="col-lg-4 col-md-6 mb-4" style="min-width:18rem;
max-width:30.5%;">
    <div class="card h-100">
        <a asp-page="/Public/PublicDetalj" asp-route-id="@prod.Id">
            <img class="card-img-top" src="~/ImageProduct/@prod.PhotoNamn" height="140" width="80">
        </a>

        <div class="card-body">
            <h5 style="font:1em; color:forestgreen">
                @if (prod.Eco == true)
                {
                    @Html.DisplayNameFor(modelItem => prod.Eco)
                }
            </h5>
            <h5 style="color:red">
                @{ var rea = "Rea: -" + prod.Sale + " kr";}
                @if (prod.Sale != 0)
                {
                    @Html.DisplayFor(modelItem => rea)
                }
            </h5>
            <h5 style="color:red">
                @{ var reaP = "Rea: -" + prod.Sale_Percent + " %";}
                @if (prod.Sale_Percent != 0)
                {
                    @Html.DisplayFor(modelItem => reaP)
                }
            </h5>
            <h4 class="card-title">
                @Html.DisplayFor(modelItem => prod.Name)
            </h4>
            <h6>Kategori: @Html.DisplayFor(modelItem => prod.Category)</h6>
            <h5>Pris: @Html.DisplayFor(modelItem => prod.Price) kr</h5>
            <p>
                @Html.DisplayFor(modelItem => prod.Description)
            </p>
        </div>
        <div class="card-footer" style="text-align:center">
            <div class="col-sm" style="width:150px;  display:inline-flex;">
                <a style="margin-left:10px;  margin-right:10px" asp-page="/Public/PublicDetalj" asp-route-id="@prod.Id">Detalj</a>
                <a type="submit" style="margin-left:10px;  margin-right:10px" asp-page="Cart" asp-page-handler="buyitem" asp-route-id="@prod.Id">
                    <button><i class="fas fa-cart-plus"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>