@page
@model DelliItalia_Razor.Pages.Public.ProductsModel

@{ 
    var foto = "~/ImageProduct/" + (Model.ProductModel[0].PhotoNamn ?? "Produkten har inget foto");
}

<div class="col-lg-4 col-md-6 mb-4" style="min-width:18rem; 
max-width:30.5%;">
    <div class="card h-100">
        <a asp-page="/Public/PublicDetalj">
        <img class="card-img-top" src="@foto" height="100" width="80">
        </a>

        <div class="card-body">
            <h5 style="font:1em; color:forestgreen">
                @if (Model.ProductModel[0].Eco == true)
                {
                    @Html.DisplayNameFor(modelItem => Model.ProductModel[0].Eco)
                }
                else
                {
                    <h5 style="font:1em; color:black">
                        @Html.DisplayFor(modelItem => Model.ProductModel[0].Eco) 
                    </h5>
                }
            </h5>
            <h4 class="card-title">
                @Html.DisplayFor(modelItem => Model.ProductModel[0].Name)
            </h4>
            <h6> @Html.DisplayFor(modelItem => Model.ProductModel[0].Category)</h6>
            <h5>@Html.DisplayFor(modelItem => Model.ProductModel[0].Price)</h5>
            <p>
                @Html.DisplayFor(modelItem => Model.ProductModel[0].Description)
            </p>
            <p style="color:red">
                @if (Model.ProductModel[0].Sale != 0)
                {
                    @Html.DisplayFor(modelItem => Model.ProductModel[0].Sale + " rea i kronor");
                }
                @if (Model.ProductModel[0].Sale_Percent != 0)
                {
                    @Html.DisplayFor(modelItem => Model.ProductModel[0].Sale_Percent + " rea i procent")
                }
            </p>
        </div>
        <div class="card-footer" style="text-align:center">
            <div class="col-sm" style="width:150px;
                    align-items:center; text-align:center; vertical-align:middle" >
                <a asp-page="" asp-route-id="@Model.ProductModel[0].Id">Minus</a>
                <input id="Antal" type="number" style="width:30px" />
                <a asp-page="" asp-route-id="@Model.ProductModel[0].Id">Plus</a>
            </div>
            <a asp-page="" asp-route-id="@Model.ProductModel[0].Id" >Köp</a><br />
        </div>
    </div>
</div>