@page
@using Microsoft.AspNetCore.Identity
@using DelliItalia_Razor.Model
@inject SignInManager<WebshopUser> SignInManager
@inject UserManager<WebshopUser> UserManager
@{ 
    var user = await UserManager.GetUserAsync(User);
}

@model DelliItalia_Razor.Pages.Public.CartModel
@{ ViewData["Title"] = "Cart"; }



<h1>Köpvagn</h1>

<p>
    <a asp-page="./Products">Produktsidan</a>
</p>
<p>
    Antal produkter i korgen: @Model.cart.Count <br />
</p>
<h5 style="color:blue"><i>Fraktkostnad 50kr,,, Gratis frakt för köp över 200 kr </i></h5>

<!-- Köpkorg artiklar-->
<form name="FormE" method="post" asp-page="cart">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cart[0].product.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cart[0].product.PhotoNamn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cart[0].product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cart[0].product.Price)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.cart[0].product.Sale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cart[0].product.Sale_Percent)
                </th>
                <th>
                    Antal
                </th>
                <th>
                    Kostnad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ decimal SLutTotalPris = 0;
                decimal Moms = 0.12m;
                decimal MomsPris = 0;
                decimal InkMoms = 0;
                decimal Frakt = 50;}
            @foreach (var item in Model.cart)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.product.Id)
                    </td>
                    <td>
                        <img src="~/ImageProduct/@item.product.PhotoNamn" alt="Bild Saknas"
                             style="width:75px; height:75px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.product.Sale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product.Sale_Percent)
                    </td>
                    <td>
                        <div class="input-group-append" style="text-align: center; vertical-align: middle ">
                            <input class="span1" id="quantity" name="quantity" style="font-size:14px ;max-width: 45px;" placeholder="1"
                                   size="16" type="number" min="1" value="@item.Quantity" onchange="this.form.submit()" />

                            <a asp-page="cart" asp-page-handler="remove" asp-route-id="@item.product.Id" class="btn btn-danger" type="button">
                                <i class="icon-remove icon-white"></i>X<br />
                            </a>
                        </div>
                        <button hidden id="sub" type="submit" class="btn" style="color:white; background-color:lightgreen"><i class="icon-save"></i>Uppdatera</button>
                    </td>
                    <td>
                        @{ var pris = item.product.Price * @item.Quantity;
                            decimal slut_pris = 0;
                            if (item.product.Sale != 0) { slut_pris = pris - (item.product.Sale * item.Quantity); }
                            else if (item.product.Sale_Percent != 0) { slut_pris = pris - (((item.product.Sale_Percent / 100) * item.product.Price) * item.Quantity); }
                            else slut_pris = pris;
                            SLutTotalPris += slut_pris; }
                        <p> @slut_pris.ToString("0.##") kr</p>
                    </td>
                </tr>
            }
        </tbody>
        @{ MomsPris = SLutTotalPris * Moms;
            InkMoms = MomsPris + SLutTotalPris;
            if (InkMoms <= 200)
            {
                InkMoms += Frakt;
                if (SLutTotalPris == 0)
                {
                    Frakt = 0;
                    InkMoms = 0;
                }
            }
            else { Frakt = 0; } }
        <tr style="column-span: all; font-size: 1em; align-self: flex-end;
        margin-right: 5px; text-align: right">
            <td style="width:70%;">Kostnad:</td>
            <td style="width:30%;"> @SLutTotalPris.ToString("0.##") kr</td>
        </tr>
        <tr style="column-span: all; font-size: 1em; align-self: flex-end;
        margin-right: 5px; text-align: right">
            <td style="width:70%;">Moms (12%):</td>
            <td style="width:30%;"> @MomsPris.ToString("0.##") kr</td>
        </tr>
        <tr style="column-span: all; font-size: 1em; align-self: flex-end;
        margin-right: 5px; text-align: right">
            <td style="width:70%;">Frakt:</td>
            <td style="width:30%;"> @Frakt.ToString("0.##") kr</td>
        </tr>
        <tr style="column-span: all; font-size: 1.5em; align-self: flex-end;
        margin-right: 5px; text-align: right">
            <td style="width:70%;">Total kostnad (ink moms):</td>
            <td style="width:30%;"> @InkMoms.ToString("0.##") kr</td>
        </tr>
    </table>
</form>

<hr />
<!-- Användar Info-->
<div>
    <h4>
        <label style="color:blue">Leverans adress:</label><br />
        <label>För- och Efternamn:  @user.FirstName @user.LastName</label><br />
        <label>Mobil:  @user.Mobile</label><br />
        <label>Adress:  @user.Address </label><br />
        <label>Postnummer och stad:  @user.PostCode @user.City</label><br /><br />
    </h4>
    <a href="~/Identity/Account/Manage">
            <button class="btn-lg btn-primary col-sm-3" type="button">
                Ändra Leverans uppgifter
            </button>
    </a>




</div>
<hr/>

@if (!this.User.Identity.IsAuthenticated)
{
    <a asp-area="Identity" asp-page="/Account/Login">Logga in först!</a> }
else
{
    @if (Model.cart.Count != 0)
    {
        <div class="container; col-8" style="margin-bottom: 40px; margin-left: 20%">
            <div class="row">
                <div class="card" style="width: 18rem; margin-right: 40px">
                    <img src="/Image/swedbank.jpg" class="card-img-top" alt="bank" style="height: 150px">
                    <div class="card-body; text-center">
                        <input type="radio" />
                        <label for="bank">Banköverföring</label>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/Image/swish.png" class="card-img-top" alt="swish" style="height: 150px">
                    <div class="card-body; text-center">
                        @*<button class="btn btn-primary">Betala med swish</button>*@
                        <input type="radio" />
                        <label for="swish">Betala med swish</label>
                    </div>
                </div>

            </div>
        </div>

        <form name="FormE" method="post" asp-page="cart">
            <div style="margin-left: 30%">
                <a asp-page="cart" asp-page-handler="removeAll">
                    <button class="btn-lg btn-primary col-6" type="button">
                        Slutför köpet
                    </button>
                </a>

            </div>
        </form>
    }

    @*<p> yeppiiiii du är inloggad</p>*@
    @if (this.User.IsInRole("Admin"))
    {
        <p>Du är inloggad som Admin</p>}}

<br />
<br />
<br />
<br />