@page
@model DelliItalia_Razor.Pages.Public.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Köpvagn</h1>

<p>
    <a asp-page="./Products">Produkt sidan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cart[0].product.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cart[0].product.PhotoNamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cart[0].product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cart[0].product.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cart[0].product.Sale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cart[0].product.Sale_Percent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cart[0].Quantity)
            </th>
            <th>
                Kostnad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ decimal SLutTotalPris = 0;}
        @foreach (var item in Model.cart)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Id)
                </td>
                <td>
                    <img src="~/ImageProduct/@Model.cart[0].product.PhotoNamn" alt="Bild Saknas"
                         style="width:75px; height:75px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Price)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.product.Sale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Sale_Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @{
                        var pris = Model.cart[0].product.Price * @item.Quantity;
                        decimal slut_pris = 0;
                        if (item.product.Sale != 0) { slut_pris = pris - (Model.cart[0].product.Sale * item.Quantity); }
                        else if (item.product.Sale_Percent != 0) { slut_pris = pris - (((Model.cart[0].product.Sale_Percent/100) * item.product.Price) * item.Quantity); }
                        else slut_pris = pris;
                        SLutTotalPris += slut_pris;
                    }
                    <p> Total Kostnad: @slut_pris </p>
                </td>
                @*<td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Minus</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Plus</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Ta bort</a>
                    </td>*@
            </tr>

        }
    </tbody>
    <tr style=" column-span:all; font-size:1.5em; align-self:flex-end">
        <td style="width:70%;">Slut Total Pris:</td>
        <td style="width:30%;"> @SLutTotalPris kr</td>
    </tr>
</table>