@page
@model DelliItalia_Razor.Pages.WebAdmin.IndexModel

@{
    ViewData["Title"] = "Produkt listan";
}

<h1>Produkt Listan</h1>

    <!-- <a asp-page="Create">Create New</a> -->
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table cellpadding="10" width="1200px">
        <td width="300px">
            <div class="form-group">
                <label asp-for="produkt.Name" class="control-label"></label>
                <input asp-for="produkt.Name" class="form-control" />
                <span asp-validation-for="produkt.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produkt.Price" class="control-label"></label>
                <input asp-for="produkt.Price" class="form-control" />
                <span asp-validation-for="produkt.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produkt.Description" class="control-label"></label>
                <input asp-for="produkt.Description" class="form-control" />
                <span asp-validation-for="produkt.Description" class="text-danger"></span>
            </div>
        </td>
        <td width="300px">
            <div class="form-group">
                <label asp-for="produkt.Category" class="control-label"></label>
                <input asp-for="produkt.Category" class="form-control" />
                <span asp-validation-for="produkt.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produkt.Sale" class="control-label"></label>
                <input asp-for="produkt.Sale" class="form-control" />
                <span asp-validation-for="produkt.Sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produkt.Sale_Percent" class="control-label"></label>
                <input asp-for="produkt.Sale_Percent" class="form-control" />
                <span asp-validation-for="produkt.Sale_Percent" class="text-danger"></span>
            </div>
        </td>
        <td width="300px">

            <div class="form-group">
                <label asp-for="produkt.DateIn" class="control-label"></label>
                <input asp-for="produkt.DateIn" class="form-control" />
                <span asp-validation-for="produkt.DateIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produkt.Quantity" class="control-label"></label>
                <input asp-for="produkt.Quantity" class="form-control" />
                <span asp-validation-for="produkt.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produkt.Chosen" class="control-label"></label>
                <input asp-for="produkt.Chosen" class="form-control" />
                <span asp-validation-for="produkt.Chosen" class="text-danger"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label asp-for="produkt.PhotoNamn" class="control-label"></label>
                <input type="file" name="uplImage" />
                <span asp-validation-for="produkt.PhotoNamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="produkt.Eco" class="control-label"></label>
                <input type="checkbox" name="Ekologisk" />
                <span asp-validation-for="produkt.Eco" class="text-danger"></span>*@
                @Html.LabelFor( p => p.produkt.Eco, "Ekologisk")
                @Html.CheckBoxFor(p => p.produkt.Eco, new { @class = "css-checkbox9 all_check" })
                <label for="Ekologisk" class="css-label9" checked="checked"></label>
            </div>
            <div class="form-group" width="300px" align="right">
                <input type="submit" value="Lägg till produkt" class="btn btn-primary" />
            </div>
        </td>
    </table>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].PhotoNamn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Sale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Sale_Percent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].DateIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Chosen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductModelList[0].Eco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductModelList)
            {
            <tr>
                <td>
                    <img src="~/ImageProduct/@item.PhotoNamn" height="35" width="35" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sale_Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chosen)
                </td>
                @if (item.Eco == true)
                {
                    <td style="color:forestgreen">
                        @Html.DisplayFor(modelItem => item.Eco) Ekologisk
                    </td>
                }
                else
                {
                    <td >
                        @Html.DisplayFor(modelItem => item.Eco)
                    </td>
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</form>