@page
@model DelliItalia_Razor.Pages.KundOrderKollModel

@{
    ViewData["Title"] = "KundOrderKoll";
}

<h1>Orderhistorik</h1>

<p>
    <a>Hej @User.Identity.Name,  <br />här hittar du alla dina köp.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Orderdatum
            </th>
            <th>
                Produktnamn
            </th>
            <th>
                Rabatt i kr
            </th>
            <th>
                Rabatt i %
            </th>
            <th>
                Antal
            </th>
            <th>
                Pris
            </th>
            <th>
                Totalpris
            </th>
            <th></th>
                      
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductsBought) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale) kr
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale_procent) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) kr
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPris) kr
            </td>

        </tr>
}
    </tbody>
</table>

<br/>
<br/>
